# Token of a Notion internal integration that has been granted access to the root page.
NOTION_TOKEN=secret_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# ID of the Software Development page, dashes optional.
NOTION_ROOT_PAGE_ID=9bbf3c16e12041f3996bae0eb316cd78
